html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#chat {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vw;
}

input {
  width: 40vw;
  border: 1px solid #ddd;
  height: 5vw;
  padding: 0 2vw;
  font-size: 1.3rem;
}

button {
  width: 40vw;
  height: 5vw;
  font-size: 1.5rem;
  background: rgb(153, 212, 44);
  text-align: center;
  line-height: 5vw;
  font-weight: bold;
  color: #FFF;
  margin-top: 1vw;
  border: none;
}

.messages {
  width: 40vw;
  height: 40vw;
  margin: 2vw 0;
  border: 1px solid #ddd;
  padding: 2vw;
  overflow-x: auto;
}

@media screen and (max-width: 990px) {
  input,
  button,
  .messages {
    width: 90%;
  }

  input,
  button {
    height: 2rem;
    font-size: 1rem;
  }

  .messages {
    height: 60%;
  }
}